<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/message.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Message Details</h1>

    <p><strong>Author:</strong> <%= message.user %></p>
    <p><strong>Message:</strong> <%= message.text %></p>
    <p><strong>Added:</strong> <%= message.added.toLocaleString() %></p>

    <p><a href="/">â† Back to messages</a></p>
  </body>
</html>
